<div class="wrapper">
    <NavLink Match="NavLinkMatch.All" href="" class="menu-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12.459 1.66059C12.3259 1.55684 12.162 1.50049 11.9932 1.50049C11.8245 1.50049 11.6606 1.55684 11.5275 1.66059L0.75 10.0643L1.68225 11.2433L3 10.2158V19.5001C3.00079 19.8977 3.15908 20.2787 3.44022 20.5599C3.72135 20.841 4.10242 20.9993 4.5 21.0001H19.5C19.8976 20.9993 20.2787 20.841 20.5598 20.5599C20.8409 20.2787 20.9992 19.8977 21 19.5001V10.2226L22.3177 11.2501L23.25 10.0711L12.459 1.66059ZM13.5 19.5001H10.5V13.5001H13.5V19.5001ZM15 19.5001V13.5001C15 13.1023 14.842 12.7207 14.5607 12.4394C14.2794 12.1581 13.8978 12.0001 13.5 12.0001H10.5C10.1022 12.0001 9.72064 12.1581 9.43934 12.4394C9.15804 12.7207 9 13.1023 9 13.5001V19.5001H4.5V9.04659L12 3.20409L19.5 9.05409V19.5001H15Z"
                fill="#F2F2F2" />
        </svg>
        <span>Home</span>
    </NavLink>
    <NavLink href="study" class="menu-icon">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.52701 19.783L4.13401 15.621C4.17101 15.349 4.29501 15.096 4.48901 14.901L16.25 3.12397C16.4025 2.96994 16.5921 2.85768 16.8004 2.79797C17.0088 2.73825 17.2291 2.73309 17.44 2.78297C18.5195 3.08189 19.4981 3.66723 20.272 4.47697C21.0795 5.25624 21.6608 6.23975 21.954 7.32297C22.0039 7.53392 21.9987 7.75415 21.939 7.96253C21.8793 8.17091 21.767 8.36045 21.613 8.51297L9.839 20.275C9.64351 20.4682 9.39041 20.5924 9.11801 20.629L4.95701 21.236C4.76045 21.2646 4.5599 21.2466 4.37163 21.1833C4.18335 21.1199 4.01265 21.0131 3.87337 20.8715C3.73409 20.7299 3.63014 20.5574 3.56996 20.3681C3.50978 20.1788 3.49507 19.978 3.52701 19.782M14.025 5.36397L19.388 10.727"
                stroke="#F2F2F2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Study</span>
    </NavLink>
    <NavLink href="graph" class="menu-icon">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12.443 1.25H14C14.1989 1.25 14.3897 1.32902 14.5303 1.46967C14.671 1.61032 14.75 1.80109 14.75 2C14.75 2.19891 14.671 2.38968 14.5303 2.53033C14.3897 2.67098 14.1989 2.75 14 2.75H12.5C10.122 2.75 8.414 2.752 7.114 2.926C5.835 3.098 5.064 3.426 4.494 3.995C3.925 4.565 3.598 5.335 3.426 6.614C3.252 7.914 3.25 9.622 3.25 12C3.25 14.378 3.252 16.086 3.426 17.386C3.598 18.665 3.926 19.436 4.495 20.006C5.065 20.575 5.835 20.902 7.114 21.074C8.414 21.248 10.122 21.25 12.5 21.25C14.878 21.25 16.586 21.248 17.886 21.074C19.165 20.902 19.936 20.574 20.506 20.005C21.075 19.435 21.402 18.665 21.574 17.386C21.748 16.086 21.75 14.378 21.75 12V10.5C21.75 10.3011 21.829 10.1103 21.9697 9.96967C22.1103 9.82902 22.3011 9.75 22.5 9.75C22.6989 9.75 22.8897 9.82902 23.0303 9.96967C23.171 10.1103 23.25 10.3011 23.25 10.5V12.057C23.25 14.366 23.25 16.175 23.06 17.587C22.866 19.031 22.46 20.171 21.566 21.066C20.671 21.961 19.531 22.366 18.086 22.56C16.675 22.75 14.866 22.75 12.557 22.75H12.443C10.134 22.75 8.325 22.75 6.913 22.56C5.469 22.366 4.329 21.96 3.434 21.066C2.539 20.171 2.134 19.031 1.94 17.586C1.75 16.175 1.75 14.366 1.75 12.057V11.943C1.75 9.634 1.75 7.825 1.94 6.413C2.134 4.969 2.54 3.829 3.434 2.934C4.329 2.039 5.469 1.634 6.914 1.44C8.325 1.25 10.134 1.25 12.443 1.25Z"
                fill="#F2F2F2" />
            <path
                d="M17.98 9.42394C18.1327 9.55128 18.2286 9.73405 18.2466 9.93207C18.2646 10.1301 18.2033 10.3272 18.076 10.4799L16.247 12.6749C15.919 13.0689 15.623 13.4249 15.347 13.6749C15.045 13.9449 14.667 14.1879 14.167 14.1879C13.667 14.1879 13.288 13.9459 12.987 13.6739C12.711 13.4239 12.415 13.0689 12.086 12.6739L11.794 12.3239C11.423 11.8789 11.195 11.6079 11.007 11.4389C10.9583 11.3912 10.9035 11.3502 10.844 11.3169L10.837 11.3139L10.833 11.3119L10.823 11.3169C10.7631 11.3501 10.708 11.3911 10.659 11.4389C10.472 11.6089 10.244 11.8789 9.87301 12.3239L8.07601 14.4799C7.9471 14.6273 7.76566 14.7184 7.57047 14.7338C7.37528 14.7492 7.18181 14.6876 7.0314 14.5623C6.88099 14.4369 6.78555 14.2577 6.76549 14.063C6.74542 13.8682 6.80232 13.6733 6.92401 13.5199L8.75301 11.3249C9.08101 10.9309 9.37701 10.5749 9.65301 10.3249C9.95501 10.0549 10.333 9.81194 10.833 9.81194C11.333 9.81194 11.712 10.0539 12.013 10.3259C12.289 10.5759 12.585 10.9309 12.914 11.3259L13.206 11.6759C13.577 12.1209 13.805 12.3919 13.993 12.5609C14.079 12.6389 14.131 12.6709 14.156 12.6829L14.166 12.6879L14.171 12.6859L14.178 12.6829C14.2375 12.6497 14.2924 12.6087 14.341 12.5609C14.528 12.3909 14.756 12.1209 15.127 11.6759L16.924 9.51994C17.0514 9.36723 17.2341 9.27133 17.4321 9.25333C17.6302 9.23532 17.8272 9.29669 17.98 9.42394Z"
                fill="#F2F2F2" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M19.5 1.25C18.5054 1.25 17.5516 1.64509 16.8483 2.34835C16.1451 3.05161 15.75 4.00544 15.75 5C15.75 5.99456 16.1451 6.94839 16.8483 7.65165C17.5516 8.35491 18.5054 8.75 19.5 8.75C20.4946 8.75 21.4484 8.35491 22.1517 7.65165C22.8549 6.94839 23.25 5.99456 23.25 5C23.25 4.00544 22.8549 3.05161 22.1517 2.34835C21.4484 1.64509 20.4946 1.25 19.5 1.25ZM17.25 5C17.25 4.40326 17.4871 3.83097 17.909 3.40901C18.331 2.98705 18.9033 2.75 19.5 2.75C20.0967 2.75 20.669 2.98705 21.091 3.40901C21.5129 3.83097 21.75 4.40326 21.75 5C21.75 5.59674 21.5129 6.16903 21.091 6.59099C20.669 7.01295 20.0967 7.25 19.5 7.25C18.9033 7.25 18.331 7.01295 17.909 6.59099C17.4871 6.16903 17.25 5.59674 17.25 5Z"
                fill="#F2F2F2" />
        </svg>
        <span>Graph</span>
    </NavLink>
    <NavLink href="words" class="menu-icon">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.25 6L20.25 20M12.25 6V20M8.25 8V20M4.25 4V20" stroke="#F2F2F2" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Words</span>
    </NavLink>
    <NavLink href="settings" class="menu-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                stroke="#F2F2F2" stroke-width="1.5" />
            <path
                d="M13.765 2.152C13.398 2 12.932 2 12 2C11.068 2 10.602 2 10.235 2.152C9.9922 2.25251 9.77158 2.3999 9.58575 2.58572C9.39992 2.77155 9.25254 2.99218 9.15202 3.235C9.06002 3.458 9.02302 3.719 9.00902 4.098C9.00279 4.37199 8.92702 4.6399 8.78884 4.87657C8.65065 5.11324 8.45457 5.31091 8.21902 5.451C7.97992 5.58504 7.71067 5.6561 7.43656 5.6575C7.16245 5.6589 6.89248 5.59059 6.65202 5.459C6.31602 5.281 6.07302 5.183 5.83202 5.151C5.30634 5.08187 4.77472 5.22431 4.35402 5.547C4.04002 5.79 3.80602 6.193 3.34002 7C2.87402 7.807 2.64002 8.21 2.58902 8.605C2.55466 8.86545 2.57194 9.13012 2.63989 9.38389C2.70784 9.63767 2.82511 9.87556 2.98502 10.084C3.13302 10.276 3.34002 10.437 3.66102 10.639C4.13402 10.936 4.43802 11.442 4.43802 12C4.43802 12.558 4.13402 13.064 3.66102 13.36C3.34002 13.563 3.13202 13.724 2.98502 13.916C2.82511 14.1244 2.70784 14.3623 2.63989 14.6161C2.57194 14.8699 2.55466 15.1345 2.58902 15.395C2.64102 15.789 2.87402 16.193 3.33902 17C3.80602 17.807 4.03902 18.21 4.35402 18.453C4.56246 18.6129 4.80036 18.7302 5.05413 18.7981C5.3079 18.8661 5.57257 18.8834 5.83302 18.849C6.07302 18.817 6.31602 18.719 6.65202 18.541C6.89248 18.4094 7.16245 18.3411 7.43656 18.3425C7.71067 18.3439 7.97992 18.415 8.21902 18.549C8.70202 18.829 8.98902 19.344 9.00902 19.902C9.02302 20.282 9.05902 20.542 9.15202 20.765C9.25254 21.0078 9.39992 21.2284 9.58575 21.4143C9.77158 21.6001 9.9922 21.7475 10.235 21.848C10.602 22 11.068 22 12 22C12.932 22 13.398 22 13.765 21.848C14.0078 21.7475 14.2285 21.6001 14.4143 21.4143C14.6001 21.2284 14.7475 21.0078 14.848 20.765C14.94 20.542 14.977 20.282 14.991 19.902C15.011 19.344 15.298 18.828 15.781 18.549C16.0201 18.415 16.2894 18.3439 16.5635 18.3425C16.8376 18.3411 17.1076 18.4094 17.348 18.541C17.684 18.719 17.927 18.817 18.167 18.849C18.4275 18.8834 18.6921 18.8661 18.9459 18.7981C19.1997 18.7302 19.4376 18.6129 19.646 18.453C19.961 18.211 20.194 17.807 20.66 17C21.126 16.193 21.36 15.79 21.411 15.395C21.4454 15.1345 21.4281 14.8699 21.3602 14.6161C21.2922 14.3623 21.1749 14.1244 21.015 13.916C20.867 13.724 20.66 13.563 20.339 13.361C20.1048 13.2186 19.9105 13.019 19.7746 12.7809C19.6387 12.5428 19.5655 12.2741 19.562 12C19.562 11.442 19.866 10.936 20.339 10.64C20.66 10.437 20.868 10.276 21.015 10.084C21.1749 9.87556 21.2922 9.63767 21.3602 9.38389C21.4281 9.13012 21.4454 8.86545 21.411 8.605C21.359 8.211 21.126 7.807 20.661 7C20.194 6.193 19.961 5.79 19.646 5.547C19.4376 5.38709 19.1997 5.26981 18.9459 5.20187C18.6921 5.13392 18.4275 5.11664 18.167 5.151C17.927 5.183 17.684 5.281 17.347 5.459C17.1067 5.59042 16.8369 5.65862 16.563 5.65722C16.2891 5.65582 16.02 5.58486 15.781 5.451C15.5455 5.31091 15.3494 5.11324 15.2112 4.87657C15.073 4.6399 14.9973 4.37199 14.991 4.098C14.977 3.718 14.941 3.458 14.848 3.235C14.7475 2.99218 14.6001 2.77155 14.4143 2.58572C14.2285 2.3999 14.0078 2.25251 13.765 2.152Z"
                stroke="#F2F2F2" stroke-width="1.5" />
        </svg>
        <span>Settings</span>
    </NavLink>
</div>