.section {
    padding: var(--app-space) var(--app-xl-space);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
    grid-gap: var(--app-space);
}

.grid>* {
    aspect-ratio: 1;
}