@page "/study"
<PageTitle>Study</PageTitle>
<div class="jp">勉強したい単語を選択してください</div>
<div class="section">
    <div class="jp">英検２級</div>
    <div class="grid">
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
    </div>
</div>
<div class="section">
    <div class="jp">英検準２級</div>
    <div class="grid">
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
        <button class="btn jp">動詞</button>
    </div>
</div>